/* add css module styles here (optional) */

.cardDiv {
  box-sizing: border-box;
  background: blue;
  height: 200px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}


.cardHeader h2 {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
